/*  your css code here. If applicable */
table
{
	border:1px solid #ccc;
	padding:8px;
	border-radius:5px;
	
}
.table:nth-child(even) {
    background-color: #ffffff;
}
.table:nth-child(odd) {
    background-color: #f2f2f2;
}
